:root {
  --purple: #42275a;
  --brown: #734b6d;
}

body {
  background: linear-gradient(--purple, --brown);
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}
